.sidebarOption__content{
    display: flex;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
}
.sidebarOption__option{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.sidebarOption__content:hover{
    color: purple !important;
    cursor: pointer;
    background-color: rgba(227, 219, 219, 0.982);
}