
.post{
    margin-top: 50px;
}
.post__container{
    border-right: 2.5px solid white;
    border-left: 2.5px solid white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 100px;
}

.post__header{
    border-bottom: 5px solid white;
    padding-left: 10px;
    display: flex;
    padding-bottom: 10px;
}
.post__userData{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}
.post__displayName{
    font-size: 18px;
    color: white;
}
.post__userName{
    font-size: 14px;
    margin-top: 5px;
    margin-left: 3px;
    color: rgb(140, 135, 135);
}
.post__userOptions{
    margin-left: 60%;
    margin-top: 10px;
}

.post__swiishPic{
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}
.post__img{
    width: auto;
    height: 500px;
    object-fit: contain;
    border: 3px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.post__swiish{
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2.5px;
}
.post__text{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
.post__footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: white;
}
.post__likeComent{
    width: 80px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.post__moreOption{
    padding-right: 20px;
}